<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>

<body>
    <h1>User List</h1>
    <table>
        <thead>
            <th>id</th>
            <th>Name</th>
            <th>Status</th>

        </thead>
        <tbody>
            <% user.forEach(user=> { %>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.status %>
                </td>
                <% }) %>
        </tbody>
    </table>
</body>

</html>